<p>
ReScience C is a platinum open-access peer-reviewed journal that targets computational research and encourages the explicit <a href="/about#faq">replication</a> of already published research, promoting new and open-source implementations in order to ensure that the original research is <a href="/about#faq">reproducible</a>. You can read about the ideas behind ReScience C in the article <a href="https://doi.org/10.7717/peerj-cs.142" target="_blank">Sustainable computational science: the ReScience initiative</a>
</p>

<p>
To achieve this goal, the whole publishing chain is radically different from other traditional scientific journals. ReScience C lives on <a href="https://github.com/rescience/">GitHub</a> where each new implementation of a computational study is made available together with comments, explanations and tests. Each submission takes the form of an issue that is publicly reviewed and tested in order to guarantee that any researcher can re-use it. If you ever replicated computational results (or failed at) from the literature in your research, ReScience C is the perfect place to publish your new implementation.
</p>

<p>
ReScience C is collaborative and open by design. Everything can be forked and modified. Don’t hesitate to <a href="/about#write">write a submission, <a href="/about#faq">join us</a> and to <a href="/about#board">become a reviewer</a>.
</p>